In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv("D:\jupyter notebook projects\Data\Startups.csv")

In [9]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

## encoding

In [10]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()

In [12]:
df["State"]=l.fit_transform(df["State"])

In [13]:
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

# spiliting data

In [15]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2)

In [23]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(40, 4)
(10, 4)
(40,)
(10,)

## train model

In [24]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

## prediction

In [25]:
pre=reg.predict(x_test)

In [26]:
pre

array([ 53650.14752687,  86681.33762472,  84872.20228365, 154991.58794381,
        46113.03361459,  61196.11905051, 136558.34344882, 110079.32122762,
       129592.17159574,  76368.95612865])

In [27]:
y_test

48     35673.41
34     96712.80
39     81005.76
9     149759.96
47     42559.73
43     69758.98
11    144259.40
23    108733.99
17    125370.37
41     77798.83
Name: Profit, dtype: float64

In [34]:
from sklearn.metrics import explained_variance_score,mean_squared_error
explained_variance_score(y_test,pre)
# Explained variance score: 1 is perfect prediction

0.954985510719119

In [35]:
mean_squared_error(y_test,pre)

63304552.67079709